@import url('http://fonts.googleapis.com/css?family=Roboto');

.flex-container img{
  position: absolute;
  width: 100px;
  height: auto;
  margin-top: 5px;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #202020;
}

.header-right {
  display: flex;
  gap: 1cm;
  align-items: center;
  font-size: 18px;
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
}